<footer class="bg-dark text-white py-3 mt-auto">
    <div class="container d-flex justify-content-center align-items-center flex-wrap">
        <!-- Phone -->
        <div class="mx-3">
            <p class="mb-0">Phone: <a href="tel:+1234567890" class="text-white">+1 234 567 890</a></p>
        </div>
        <!-- Email -->
        <div class="mx-3">
            <p class="mb-0">Email: <a href="mailto:info@pdeu.edu" class="text-white">info@pdeu.edu</a></p>
        </div>
        <!-- About Us -->
        <div class="mx-3">
            <p class="mb-0"><a href="/about" class="text-white">About Us</a></p>
        </div>
        <!-- Follow Us Dropdown -->
        <div class="mx-3 dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Follow Us
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="https://www.instagram.com" target="_blank">Instagram</a></li>
                <li><a class="dropdown-item" href="https://www.twitter.com" target="_blank">Twitter</a></li>
            </ul>
        </div>
    </div>
</footer>
